<div class="secondTipsSlide col-xs-12">
  <div class="col-xs-12 text-center padding">{{windowsJson.pointsText}}</div>
  <div class="col-xs-12 text-center font24 padding">
    <span>{{windowsJson.tipsText12}}</span>
    <span class="goldenText">{{windowsJson.tipsText13}}</span>
    <span>{{windowsJson.tipsText14}}</span>
  </div>
  <div class="col-xs-12 text-center font24">
    <span>{{windowsJson.tipsText15}}</span>
  </div>
  <div class="col-xs-12 text-center font24 padding">
    <span>{{windowsJson.tipsText16}}</span>
  </div>
  <div class="col-xs-12 text-center font24 paddingBottom">
    <span>{{windowsJson.tipsText17}}</span>
    <span class="goldenText">{{windowsJson.tipsText18}}</span>
  </div>
</div>
<div class="text-center col-xs-12">
    <button type="button" class="btn btn-default nextButton" (click)="getUrlParams()">{{windowsJson.nextText}}</button>
</div>
