<div class="col-xs-12 sixthSlide">
  <div class="col-xs-12">
    <div class="col-sm-6 col-xs-12 text-center pandaImage">
      <img src="assets/images/emailalert.gif" style="max-width: 100%;width: 240px;">
    </div>
    <div class="col-sm-6 col-xs-12" style="margin:12% 0%;">
      <div class="row sixthUpperText">
        {{windowJSON.sixthUpperText}}
      </div>
      <div class="row sixthLowerText">
        {{windowJSON.sixthLowerText}}
      </div>

    </div>
  </div>
</div>
<div class="col-xs-12 text-center nextSpace">
    <button type="button" class="btn btn-default nextButton" (click)="getUrlParams()">{{windowJSON.nextText}}</button>
</div>