<div class="col-xs-12 quiztext" >{{windowJSON.quiz1}}
</div>
<div class="col-xs-12 text-center">
<img src="assets/images/quiz.jpg"  style="max-width: 100%; height: auto; margin-top: 2%">
</div>
<div class="col-sm-12 col-xs-12" [ngClass]="{'oops':isWrongAnswer}" *ngIf='this.isWrongAnswer'>{{windowJSON.oopsText}}</div>
<div class="col-sm-12 col-xs-12">
<div class="row" style="margin-top: 2%;margin-bottom: 2%;">
    <div class="col-sm-3 col-xs-12" *ngFor="let option of arrayOption; let i=index;">
        <div class="col-sm-offset-5 col-xs-offset-5">
            <input class="defaucltcheckboxcls" type="checkbox">
            <label class="labelClass" (click)="toggleOptionList(i)" for="optionList" data-toggle="modal" data-target="#successModal">
                <img src="{{checkImageArray[i]}}" *ngIf="checkImageArray[i]!=''" [ngClass]="{'cbCheckactive':checkImageArray[i]!='' }" data-toggle="modal" data-target="#myModal">
            </label>
        </div>
        <div class="reasonDiv text-center">
            {{option.reason}}
        </div>
</div>
</div>
</div>
<div id="successModal" class="modal fade" role="dialog" *ngIf="showModal" style="position: fixed;
top: 20%;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center modalText">{{windowJSON.modalText}}</div>
          <div class="text-center">
              <img src="assets/images/rightAnswer.gif"  style="max-width: 100%; height: auto; margin-top: 2%">
          </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn nextButton" style="margin-bottom: 2%" data-dismiss="modal" (click)="getUrlParams()">{{windowJSON.nextText}}</button>
        </div>
      </div>
  
    </div>
  </div>
