.fourthslide {
    background-color: black;
}
.fourthText{
    font-size: 24px;
    font-family: Agency FB;
    color: white;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
}

.fourthImage {
    padding-top: 2%;
    padding-bottom: 2%;
}

