.firstTipsSlide {
    background: black;
    border: 1px solid white;
    color: white;
    font-size: 34px;
    font-family: Agency FB;
}

.goldenText {
    color: goldenrod;
}


.padding {
    padding-top: 4%;
}
.font18 {
    font-size: 18px;
}

.font26 {
    font-size: 26px;
}
.font24 {
    font-size: 24px;
}


