.fifthslide {
    background-color: black;
}
 .fifthUpperText{
    font-size: 22px;
    font-family: Agency FB;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.fifthLowerText{
    font-size: 18px;
    font-family: Cambria;
    color: red;
    text-align: justify;
    margin-right: 25px;
    margin-left: 25px;
}


.fifthImage {
padding-top: 2%;
padding-bottom: 2%;
}
