<div class="col-xs-12">
<div class="fifthslide">
    <div class="text-center fifthUpperText">{{windowJSON.fifthUpperText}}</div>
    <div class="fifthImage text-center">
    <img src="assets/images/NoodlesComplains.jpg" style="max-width: 100%; width:850px; height: auto">
    </div>
    <div class="text-center fifthLowerText">{{windowJSON.fifthLowerText}}</div>    
    
    </div>
    <div class="text-center nextSpace">
        <button type="button" class="btn btn-default nextButton" (click)="getUrlParams()">{{windowJSON.nextText}} </button>
    </div>
  </div>