<div class="col-xs-12">
    <div class="firstSlide">
        <div class="text-center firstText whiteFont ">{{windowsJson.firstText}}
        </div>
        <div class="text-center secondText whiteFont ">{{windowsJson.secondText}}</div>
        <div class="text-center pandaImage">
            <img src="../../assets/images/First_page.jpg" style="max-width: 100%; height: auto;">
        </div>
    </div>

    <div class="text-center nextSpace">
        <button type="button" class="btn btn-default nextButton" (click)="getUrlParams()">{{windowsJson.nextText}}</button>
    </div>
</div>